---
BasedOnStyle: Google
Language: Cpp
Standard: Latest

# Code formatting settings
ColumnLimit: 120
EnumTrailingComma: Remove
InsertNewlineAtEOF: true
InsertBraces: true
QualifierAlignment: Left

# Includes sorting
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
